<div style="height: 100%;">

  <div *ngIf="showSpinner" style="position: absolute;margin: 50%; margin-top: 40%;">
      <app-spinner-form [show]="showSpinner" [color]="'#f5593d'"></app-spinner-form>
  </div>


<div class="signup-wrapper">
<div class="col-lg-6 col-md-12 signup-section">
    <div class="signup-container">
        <div class="signup-main">
            <div class="signup-header">
                <div class="header">Signup</div>
                <div (click)="closeDialog()" style="cursor: pointer;">X</div>
            </div>
            <div class="card card-register">
                <form class="register-form" [formGroup]="signupForm" (submit)="signup(signupForm.value)">
                  <div class="error" *ngIf="errorMsg"><label><i class="fa fa-exclamation-circle"></i>{{errorMsg}}</label></div>
                  
                  <label>Email</label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fa fa-github"></i>
                      </span>
                    </div>

                      <input type="email" class="form-control" formControlName="email" placeholder="Email your email address">
                  </div>
                  <div class="error-msg" *ngIf="isSubmitted && formControls.email.errors">*Please enter a valid email address</div>

                    <label>Name</label>
                    <div class="input-group form-group-no-border">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user"></i>
                        </span>
                      </div>

                        <input type="name" class="form-control" formControlName="username" placeholder="Enter your name">
                    </div>
                    <div class="error-msg" *ngIf="isSubmitted && formControls.username.errors?.required">*Please enter full name</div>

                    <label>Password</label>
                    <div class="input-group form-group-no-border">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-unlock"></i>
                        </span>
                      </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
                    </div>
                    <div class="error-msg" *ngIf="isSubmitted && formControls.password.errors">*Please enter a passowrd of at least 8 characters</div>

                    <label>Role</label>
                    <div class="input-group form-group-no-border">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-unlock"></i>
                        </span>
                      </div>
                        <!-- <select id="cars" name="cars" class="form-control" formControlName="role">
                            <option value="Student"selected>Student</option>
                            <option value="Teacher">Teacher</option>
                            <option value="Admin">Admin</option>
                        </select> -->

                        <select  class="select-control" (change)="changeRole($event)" formControlName="role">
                            <option value="" disabled>Choose your role</option>
                            <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                         </select>
                        
                    </div><div class="error-msg" *ngIf="isSubmitted && formControls.role.errors?.required">*Please select your role</div>

                    <!-- <label *ngIf="isAdmin">Admin Password</label>
                    <div class="input-group form-group-no-border" *ngIf="isAdmin">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-unlock"></i>
                        </span>
                      </div>
                        <input type="password" class="form-control" formControlName="adminpassword" placeholder="Enter admin password">
                        
                    </div>
                    <div class="error-msg" *ngIf="isSubmitted && formControls.adminpassword.errors?.required">*Please enter admin password</div> -->
                    
                    <button type="submit" class="btn btn-danger btn-block">SIGN UP</button>
                </form>
                <!-- <div class="forgot">
                    <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                </div> -->
            </div>
            <!-- <div class="col text-center" routerLinkActive="active">
                <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
            </div> -->
        </div>
    </div>
</div>
</div>
</div>