@import '../../../assets/sass/paper-kit/variables';
.login-wrapper {
    display: flex;
    height: 100%;

    .login-section {
        max-width: 100%;
        flex: 100%;
        margin-top: auto;
        margin-bottom: auto;
        @media screen and (max-width: 767px) {
            margin: 0;
            padding: 0;
        }
    }
.login-container {
    font-size: 20px;
    @media screen and (max-width: 767px) {
        height: 100%;
    }
    .login-main {
        @media screen and (max-width: 767px) {
            height: 100%;
        }
    }
    .login-header {
        background-color: #000;
        color: #fff;
        max-width: 440px;
        padding: 13px 20px 13px 20px;
        // padding-left: 20px;
        // padding-right: 20px;
        margin: auto;
        text-align: center;
        justify-content: space-between!important;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @media screen and (max-width: 767px) {
            border-radius: 0;
        }
    }

    .card-register {
        border-radius: 0;
        background-color: #141414;
        margin: auto;
        margin-top: -5px;
        min-height: auto;
        max-width: 440px;
        padding-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @media screen and (max-width: 767px) {
            height: 100%;
            border-radius: 0;
        }

        .register-form {
            margin-bottom: 20px;
            @media screen and (max-width: 767px) {
                margin-bottom: 0px;
            }
            label {
                font-size: 14px;;
            }
            .error {
                display: flex;
                background-color: red;
                font-size: 14px;
                margin-top: 17px;
                label {
                    margin: auto;
                    padding: 8px;

                    i {
                        margin-right: 2px;
                    }
                }
            }
            .error-msg {
                color: red;
                font-weight: 600;
                font-size: 12px;
                margin-top: 5px;
            }
            .form-control {
                padding: 22px;
                &:focus{
                    background-color: $white-bg;
                    border: 1px solid $dark-gray;
                    box-shadow: none;
                    outline: 0 !important;
             }
            }
            .btn {
                margin-top: 20px;
                padding: 11px;
            }
        }
    }
}
}