<div style="height: 100%;">

    <div *ngIf="showSpinner" style="position: absolute;margin: 50%; margin-top: 40%;">
        <app-spinner-form [show]="showSpinner" [color]="'#f5593d'"></app-spinner-form>
    </div>


    <div class="login-wrapper">
        <div class="col-lg-6 col-md-12 login-section">
            <div class="login-container">
                <div class="login-main">
                    <div class="login-header">
                        <div class="header">Login</div>
                        <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                    </div>
                    <div class="card card-register">
                        <form class="register-form" [formGroup]="loginForm" (submit)="login(loginForm.value)">
                            <div class="error" *ngIf="errorMessage"><label><i
                                        class="fa fa-exclamation-circle"></i>{{errorMessage}}</label></div>
                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>

                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="error-msg" *ngIf="isSubmitted && (formControls.email.errors)">*Please enter a
                                valid email address</div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-unlock"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password">

                            </div>
                            <div class="error-msg" *ngIf="isSubmitted && formControls.password.errors">*Please enter the
                                password of atleast 8 characters</div>

                            <button type="submit" class="btn btn-danger btn-block">Login</button>
                        </form>
                        <!-- <div class="forgot">
                    <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                </div> -->
                    </div>
                    <!-- <div class="col text-center" routerLinkActive="active">
                <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>