
<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('assets/image/front.jpeg'); background-size: 100vw 100vh;">
        <div class="filter"></div>
        <div class="content-center" style="margin-top: 3%;">
            <div class="container">
                <div class="title-brand">
                    <!-- <div class="angular-logo">
                        <img src="assets/image/logo.jpg" alt="" style="border-radius: 50%; border: 2px solid #f5593d;">
                    </div> -->
                    <h1 class="presentation-title">St John's<br />Sr. Sec.<br />School<br />Roorkee</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <!-- <h2 class="presentation-subtitle text-center">Enlightening the World</h2> -->
                
                

            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6> -->
    </div>
    <!-- <div>
        <button (click)="scrol();">scroll</button>
    </div> -->
    <div class="main" id="main">
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3 class="event-title">Our Events</h3>
                    <p class="event-subtitle">Catch the pictures of our amazing events</p>
                </div>
                <div class="section-divider center">
                    <span class="divider-center">
                    <span class="divider-left" style="background-color:#ff4e31;"></span>
                    <span class="divider-right" style="background-color:#ff4e31;"></span>
                    </span>
                    </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto carousel-wrapper">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/1.jpeg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Dance</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/2.jpeg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Cultural</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/3.jpeg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Group Photo</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/4.jpeg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Activity</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/5.jpeg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Cultural</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/image/6.jpeg" akslt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Group Photo</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark section-nucleo-icons" id="upload">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 desc">
                        <h2 class="title">Upload Documents</h2><br/>
                        <p class="description">
                            Upload only necessary documents. Make sure you fill all the fields.<br />We have huge collection of documents for you to download. Click on below button to see all the documents. 
                        </p><br/>
                        <!-- <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Documents</a> -->
                        <a href="/download" class="btn btn-outline-danger btn-round">View All Documents</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="upload-container">
                            <div>
                                <div *ngIf="showSpinner" style="position: absolute;
                                margin: 50%;
                                margin-top: 70%;">
                                    <app-spinner-form [show]="showSpinner" [color]="'#f5593d'"></app-spinner-form>
                                </div>
                                <div class="card card-register" style="margin: auto; margin-top: 30px;">
                                    
                                    <form class="register-form" [formGroup]="formTemplate" (submit)="upload(formTemplate.value)">
                                        <div class="not-logged-in" *ngIf="!isLoggedIn && errorMsg"><label><i class="fa fa-exclamation-circle"></i>{{errorMsg}}</label></div>
                                        <div class="not-logged-in" *ngIf="isLoggedIn && errorMsg"><label><i class="fa fa-exclamation-circle"></i>{{errorMsg}}</label></div>
                                        <label>Document Name</label>
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-file"></i>
                                            </span>
                                          </div>
        
                                            <input type="text" class="form-control" [disabled]="!isLoggedIn" formControlName="name" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.name.errors?.required">*Please enter document name</div>
        
                                        <label>Document ID</label>
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-reddit-alien"></i>
                                            </span>
                                          </div>
                                            <input type="text" class="form-control" [disabled]="!isLoggedIn" formControlName="id" placeholder="Enter unique ID" (focus)="focus1=true" (blur)="focus1=false" >
                                            
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.id.errors?.required">*Please enter unique ID without any space or special characters</div>

                                        <label>Document Description</label>
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-sort-alpha-desc"></i>
                                            </span>
                                          </div>
                                            <textarea type="text" maxlength="100" class="form-control" [disabled]="!isLoggedIn" formControlName="desc" placeholder="Enter upto 100 characters" (focus)="focus1=true" (blur)="focus1=false" ></textarea>
                                            
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.desc.errors?.required">*Please enter document description</div>
                                        <!-- <div class="input-group form-group-no-border download">
                                            <span class="upload">Upload a File</span>
                                            <div class="drag">Drag and drop files here</div>
                                        </div> -->
                                        <!-- <label>Choose a file</label> -->
                                        
                                        <label>Admin Acess Code</label>
                                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-unlock"></i>
                                            </span>
                                          </div>
                                            <input type="password" class="form-control" [disabled]="!isLoggedIn" formControlName="adminacesscode" placeholder="Enter admin acess code" (focus)="focus1=true" (blur)="focus1=false" >
                                            
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.adminacesscode.errors?.required">*Please enter admin access code provided by administration</div>

                                        
                                        <div class="input-group form-group-no-border upload-btn" [ngClass]="{'input-group-focus':focus1===true}">
                                          <div class="input-group-prepend">
                                            <input type="file" formControlName="url" [disabled]="!isLoggedIn" name="filename" (change)="fileChanged($event)"/>
                                          </div>
                                        </div>
                                        <div class="error-msg" *ngIf="isUploaded && formControls.url.errors?.required">*Please select the document to upload</div>
                                        <button type="submit" [disabled]="!isLoggedIn" class="btn btn-danger btn-block">Upload</button>
                                    </form>
                                    <!-- <div class="forgot">
                                        <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                                    </div> -->
                                </div>
                                <!-- <div class="col text-center" routerLinkActive="active">
                                    <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Upload Document</h3>
                            <div class="social-line text-center">
                                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                  </div>

                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                                </div>

                                <label>Password</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                  </div>
                                    <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
      <!-- <app-basicelements></app-basicelements>
      <app-navigation></app-navigation>
      <div class="section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Progress Bar</h3>
                          <br/>
                      </div>
                      <ngb-progressbar type="success" class="mt-0" [value]="25">25</ngb-progressbar><br>
                      <ngb-progressbar type="info" class="mt-0" [value]="50"><span class="h6 mb-0">Copying file <b>2 of 4</b> ...</span></ngb-progressbar><br>
                      <ngb-progressbar type="warning" class="mt-0" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar><br>
                      <ngb-progressbar type="danger" class="mt-0" [value]="100" [striped]="true">Completed!</ngb-progressbar>

                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Pagination</h3>
                          <br/>
                      </div>
                      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                      <br/>
                      <ngb-pagination [collectionSize]="100" [(page)]="page1" [maxSize]="5" [rotate]="true"></ngb-pagination>
                  </div>
              </div>
              <br/>
              <div class="row">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Navigation Tabs</h3>
                      </div>

                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ngb-tabset [justify]="'center'">
                                  <ngb-tab title="Home">
                                      <ng-template ngbTabContent>
                                          <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Profile">
                                      <ng-template ngbTabContent>
                                          <p>Here is your profile.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Messages">
                                      <ng-template ngbTabContent>
                                          <p>Here are your messages.</p>
                                      </ng-template>
                                  </ngb-tab>
                              </ngb-tabset>
                          </div>
                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Labels</h3>
                      </div>
                      <span class="label label-default">Default</span>
                      <span class="label label-primary">Primary</span>
                      <span class="label label-info">Info</span>
                      <span class="label label-success">Success</span>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Danger</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-notifications" id="notifications">
          <div class="container">
              <div class="tim-title">
                  <h3>Notification</h3>
              </div>
          </div>
          <app-notification></app-notification>
      </div>
      <app-typography></app-typography>
      <div class="section javascript-components">
          <div class="container">
              <div class="tim-title">
                  <h2>Angular Native Components</h2>
              </div>
              <div class="row" id="modals">
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Modal</h3>
                      </div>
                      <app-modal-component></app-modal-component>
                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Popovers</h3>
                      </div>

                      <button type="button" class="btn btn-outline-danger btn-round" placement="right"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on right">
                          on right
                      </button>

                      <button type="button" class="btn btn-outline-danger btn-round" placement="top"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on top">
                          on top
                      </button>

                      <button type="button" class="btn btn-outline-danger btn-round" placement="left"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
                          on left
                      </button>

                      <button type="button" class="btn btn-outline-danger btn-round" placement="bottom"
                          ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on bottom">
                          on bottom
                      </button>

                  </div>
                  <br/>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Datepicker</h3>
                      </div>
                      <div class="row">
                          <div class='col-sm-6'>
                              <form class="form-inline">
                                  <div class="form-group">
                                      <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                                          <input class="form-control" placeholder="yyyy-mm-dd"
                                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
                                          <div class="input-group-append">
                                              <span class="glyphicon glyphicon-calendar input-group-text">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="tim-title">
                          <h3>Tooltips</h3>
                      </div>

                      <button type="button" class="btn btn-outline-danger btn-round" placement="right" ngbTooltip="Tooltip on right">
                         on right
                     </button>
                     <button type="button" class="btn btn-outline-danger btn-round" placement="left" ngbTooltip="Tooltip on left">
                        on left
                     </button>
                      <button type="button" class="btn btn-outline-danger btn-round" placement="top" ngbTooltip="Tooltip on top">
                         on top
                      </button>
                      <button type="button" class="btn btn-outline-danger btn-round" placement="bottom" ngbTooltip="Tooltip on bottom">
                         on bottom
                      </button>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Completed with examples</h2>
                        <p class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful kit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="section query">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Do you have any query?</h2>
                        <p class="description">Cause if you do, you can send an email to us at <span style="color:#f5593d">stjohnsrkee@gmail.com</span>,we will get back to you soon.</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="https://www.creative-tim.com/product/paper-kit-2" class="btn btn-warning btn-round">Download free HTML</a>
                        <a href="https://www.creative-tim.com/product/paper-kit-2-angular" class="btn btn-danger btn-round">Download free Angular</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="https://github.com/creativetimofficial/paper-kit" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>