<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" [ngClass]="{'navbar-transparent': !isDownload() && !isFileDownload()}" color-on-scroll="500" id="navbar">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">St Johns</a>
            <a style="color: #f5593d" *ngIf="isLoggedIn && userData && userData.username" class="navbar-brand dropdown-btn" (click)="openProfile()">{{userData.username}}</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="/home" class="nav-link" [ngClass]="{'active':isHome()}"> Home</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a (click)="scrollToUpload()" class="nav-link"> Upload</a>
                </li>
                <li class="nav-item">
                    <a href="/download" class="nav-link" [ngClass]="{'active':isDownload() || isFileDownload()}"> Public Disclosure</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn" (click)="openSignupDialog()">
                    <a class="btn btn-danger btn-round">Signup</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn" (click)="opeLoginDialog()">
                    <a class="btn btn-danger btn-round">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn" (click)="logout()">
                    <a class="btn btn-danger btn-round">Logout</a>
                </li>
                <!-- <li class="nav-item" *ngIf="isLoggedIn">
                    <a *ngIf="isLoggedIn && userData && userData.username" class="navbar-brand dropdown-btn" (click)="openProfile()">{{userData.username}}</a>
                    <div id="userProfile" class="dropdown-content">
                        <a>{{userData.username}}</a>
                        <a class="btn btn-danger btn-round" (click)="logout()">Logout</a>
                      </div>
                </li> -->
                
            </ul>
        </div>
    </div>
</nav>
