@import '../../../assets/sass//paper-kit//variables';

.navbar-nav {
    .nav-item {
        a{
            cursor: pointer;
        }
        a.active {
            color: $danger-color !important;
            border-bottom: 2px solid $danger-color;
            @media screen and (max-width: 1024px) {
                border-bottom: none;
            }
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display: block;}