<!-- <div *ngIf="showSpinner">
    <app-spinner-form [show]="showSpinner" [color]="'#f5593d'"></app-spinner-form>
</div>

<div *ngIf="!showSpinner">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer *ngIf="removeFooter()"></app-footer>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer *ngIf="removeFooter()"></app-footer>