<div class="file-wrapper">
<div class="col-lg-6 col-md-12 file-section">
    <div class="file-container">
        <div class="file-main">
            <div class="file-header">
                <div class="header">{{fileName}}</div>
                <div (click)="closeDialog()" style="cursor: pointer;">X</div>
            </div>
            <div class="card card-register">
                
                <div class="file-desc">{{fileDesc}}</div>
                <a *ngIf="fileUrl" [href]="fileUrl" class="btn btn-danger btn-block">Download</a>
                <a *ngIf="!fileUrl" (click)="closeDialog()" class="btn btn-danger btn-block">View All Documents</a>
            </div>
        </div>
    </div>
</div>
</div>