@import '../../../assets//sass/paper-kit/variables';
.section.download {
.title {
    //margin-top: 9% !important;
    color: white;
}
.subtitle {
    color: white;
}
.row.header {
    background-color: $danger-color;
}
.row {
    margin-top: 15px;
    
    .col-md-3 {
        margin-bottom: 10px;
    }
    .info {
        border: 1px solid $danger-color;
        padding: 15px;
        //border-radius: 30px;

        .icon {
            span {
                font-size: 10px;
                font-weight: 800;
                color: white;
                background: #f5593d;
                padding: 6px;
                margin-left: -3px;
            }
        }

        p {
            height: 85px;
            overflow: auto;
            overflow-x: hidden;
        }
        
    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active {
        background-color: #f5593d !important;
    }
    }
}

::-webkit-scrollbar {
    width: 1px;
    background: #f1f1f1;
    }
}