<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://dockdevelopers.com" target="_blank">DockDevelopers</a>
                </span>
            </div>
        </div>
    </div>
</footer>
