@import '../../../assets/sass/paper-kit//variables';
.file-wrapper {
    display: flex;
    height: 100%;

    .file-section {
        max-width: 100%;
        flex: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
.file-container {
    font-size: 20px;
    .file-header {
        background-color: #000;
        color: #fff;
        max-width: 440px;
        padding: 13px 20px 13px 20px;
        margin: auto;
        text-align: center;
        justify-content: space-between!important;
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-register {
        border-radius: 0;
        background-color: #141414;
        margin: auto;
        margin-top: -5px;
        min-height: auto;
        max-width: 440px;
        padding-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .file-desc {
            font-size: 14px;
            margin-top: 20px;
        }
        .file-desc-1 {
            font-size: 12px;
            margin-top: 20px;
            span.copied {
                color: $danger-color;
            }
        }
        .buttons {
            display: flex;
        }
    }
}
}