<div class="file-wrapper">
    <div class="col-lg-6 col-md-12 file-section">
        <div class="file-container">
            <div class="file-main">
                <div class="file-header">
                    <div class="header">{{fileName}}</div>
                    <div (click)="closeDialog()" style="cursor: pointer;">X</div>
                </div>
                <div class="card card-register">

                    <div class="file-desc">{{fileDesc}}</div>
                    <div class="file-desc-1" *ngIf="fileRoute">You can view your file at <span
                            [ngClass]="{'copied': copied}" id="linkText">{{fileRoute}}</span></div>
                    <div *ngIf="fileRoute" class="buttons">
                        <a (click)="copyLink()"
                            class="btn btn-danger btn-block">{{copyButtonText}}</a>
                        <a [href]="fileUrl" class="btn btn-danger btn-block" download>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>